<a href="https://colab.research.google.com/github/phycem/Finance-Machine-Learning-Applications/blob/Main/Risk_Management_and_Default_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
doc = pd.read_csv('/content/data for participants.csv')

In [4]:
doc

,Credit_Limit,Sex,Education,Marital_Status,Age,Jan_Repay_Status,Previous_Payment_Prior_Jan,Jan_Statement,Feb_Repay_Status,Previous_Payment_Prior_Feb,...,Apr_Repay_Status,Previous_Payment_Prior_Apr,Apr_Statement,May_Repay_Status,Previous_Payment_Prior_May,May_Statement,Jun_Repay_Status,Previous_Payment_Prior_Jun,Jun_Statement,July_Payment_Status
0,9600.0,1.0,3.0,3.0,32.0,6.0,110.0,138.0,5.0,2847.0,...,7.0,331.0,1080.0,12.0,535.0,1671.0,3.0,4800.0,6799.0,1.0
1,14400.0,2.0,3.0,2.0,30.0,-2.0,0.0,132.0,-2.0,0.0,...,-2.0,0.0,0.0,-2.0,45.0,0.0,-2.0,136.0,45.0,0.0
2,8100.0,1.0,1.0,2.0,29.0,-1.0,133.0,7.0,-1.0,1700.0,...,-1.0,751.0,-4.0,-1.0,498.0,747.0,-1.0,381.0,496.0,0.0
3,2700.0,2.0,2.0,1.0,31.0,0.0,104.0,2891.0,0.0,140.0,...,0.0,40.0,2842.0,0.0,60.0,1187.0,0.0,19.0,1153.0,0.0
4,14500.0,2.0,2.0,1.0,37.0,-2.0,309.0,403.0,-2.0,94.0,...,-2.0,362.0,381.0,-2.0,0.0,362.0,-2.0,116.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30597,1700.0,2.0,2.0,1.0,29.0,0.0,80.0,1598.0,0.0,80.0,...,0.0,56.0,1598.0,0.0,52.0,1556.0,0.0,80.0,1509.0,0.0
30598,4700.0,1.0,1.0,2.0,33.0,2.0,80.0,2082.0,0.0,80.0,...,0.0,100.0,2194.0,0.0,100.0,2258.0,0.0,100.0,2321.0,1.0
30599,6000.0,2.0,1.0,2.0,53.0,0.0,191.0,5418.0,0.0,198.0,...,0.0,165.0,5740.0,0.0,201.0,5842.0,0.0,140.0,5994.0,1.0
30600,14500.0,2.0,3.0,2.0,46.0,-2.0,28.0,0.0,-2.0,0.0,...,-2.0,61.0,0.0,-2.0,0.0,61.0,-2.0,0.0,0.0,0.0
30601,2500.0,2.0,2.0,1.0,51.0,-1.0,16.0,16.0,-1.0,16.0,...,-1.0,22.0,16.0,-1.0,16.0,22.0,-1.0,16.0,16.0,1.0

In [5]:
x = doc.drop(labels = ["July_Payment_Status"], axis = 1)
y = doc["July_Payment_Status"]

df_num = doc.select_dtypes(include='number')
df_cat = doc.select_dtypes(include=['object','category'])

In [6]:
doc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30602 entries, 0 to 30601
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Credit_Limit                30602 non-null  float64
 1   Sex                         30601 non-null  float64
 2   Education                   30599 non-null  float64
 3   Marital_Status              30598 non-null  float64
 4   Age                         30595 non-null  float64
 5   Jan_Repay_Status            30597 non-null  float64
 6   Previous_Payment_Prior_Jan  30599 non-null  float64
 7   Jan_Statement               30595 non-null  float64
 8   Feb_Repay_Status            30600 non-null  float64
 9   Previous_Payment_Prior_Feb  30597 non-null  float64
 10  Feb_Statement               30595 non-null  float64
 11  Mar_Repay_Status            30599 non-null  float64
 12  Previous_Payment_Prior_Mar  30600 non-null  float64
 13  Mar_Statement               30598 non-null  float64
 14  Apr_Repay_Status            30598 non-null  float64
 15  Previous_Payment_Prior_Apr  30599 non-null  float64
 16  Apr_Statement               30599 non-null  float64
 17  May_Repay_Status            30601 non-null  float64
 18  Previous_Payment_Prior_May  30598 non-null  float64
 19  May_Statement               30599 non-null  float64
 20  Jun_Repay_Status            30600 non-null  float64
 21  Previous_Payment_Prior_Jun  30600 non-null  float64
 22  Jun_Statement               30597 non-null  float64
 23  July_Payment_Status         30601 non-null  float64
dtypes: float64(24)
memory usage: 5.6 MB

In [7]:
missing_values = doc.isnull().sum()

In [8]:
missing_values

Credit_Limit                  0
Sex                           1
Education                     3
Marital_Status                4
Age                           7
Jan_Repay_Status              5
Previous_Payment_Prior_Jan    3
Jan_Statement                 7
Feb_Repay_Status              2
Previous_Payment_Prior_Feb    5
Feb_Statement                 7
Mar_Repay_Status              3
Previous_Payment_Prior_Mar    2
Mar_Statement                 4
Apr_Repay_Status              4
Previous_Payment_Prior_Apr    3
Apr_Statement                 3
May_Repay_Status              1
Previous_Payment_Prior_May    4
May_Statement                 3
Jun_Repay_Status              2
Previous_Payment_Prior_Jun    2
Jun_Statement                 5
July_Payment_Status           1
dtype: int64

In [11]:
categorical_columns = ['Sex', 'Education', 'Marital_Status']
repay_status_columns = ['Jan_Repay_Status', 'Feb_Repay_Status', 'Mar_Repay_Status', 'Apr_Repay_Status', 'May_Repay_Status', 'Jun_Repay_Status']

subset_columns = categorical_columns + repay_status_columns
doc = doc.dropna(subset=subset_columns)

In [12]:
missing_values = doc.isnull().sum()
missing_values

Credit_Limit                  0
Sex                           0
Education                     0
Marital_Status                0
Age                           6
Jan_Repay_Status              0
Previous_Payment_Prior_Jan    3
Jan_Statement                 7
Feb_Repay_Status              0
Previous_Payment_Prior_Feb    5
Feb_Statement                 7
Mar_Repay_Status              0
Previous_Payment_Prior_Mar    2
Mar_Statement                 4
Apr_Repay_Status              0
Previous_Payment_Prior_Apr    3
Apr_Statement                 3
May_Repay_Status              0
Previous_Payment_Prior_May    4
May_Statement                 3
Jun_Repay_Status              0
Previous_Payment_Prior_Jun    2
Jun_Statement                 5
July_Payment_Status           1
dtype: int64